<a href="https://colab.research.google.com/github/angelaaaateng/ML_COVID_PREDICTION/blob/master/Exploration_COVID19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries + Load Data

In [2]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [6]:
# amber additions
!pwd

/Users/angelateng/NYU_GoogleDrive/GitHub/ML_COVID_PREDICTION

### DSP Data (Key = PHCaseNo)

In [21]:
data = pd.read_csv('openrefine_PH_CASES.csv')
data.head()

,Case No.,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Residence Lat,Residence Long,Column,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,14.517274,121.0496133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,14.586506,121.1138255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
data.columns

Index(['Case No.', 'Sex', 'Age', 'Nationality', 'Residence in the Philippines',
       'History of Travel / Exposure', 'Travel History 1', 'Travel History 2',
       'Travel History 3', 'Travel History 4', 'Epi_Link',
       'Date of Onset of Symptoms', 'Date of Admission',
       'Date of Lab Confirmation', 'Date of Announcement to the Public',
       'Admission / Consultation', 'Symptoms', 'Symptoms 1', 'Symptoms 2',
       'Symptoms 3', 'Other disease', 'Other disease 1', 'Other disease 2',
       'Other disease 3', 'Other disease 4', 'Other disease 5', 'Status',
       'Health Status', 'Date of Final Status (recovered/expired)',
       'Final Diagnosis', 'Age Group', 'Location', 'Location 1', 'Location 2',
       'Latitude', 'Longitude', 'Residence Lat', 'Residence Long', 'Column',
       'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7',
       'Column8'],
      dtype='object')

In [29]:
data = data.rename(columns={'Case No.': 'phcaseno'})

In [47]:
data = data.rename(columns={'Location 1': 'case_location'})

In [48]:
data.dtypes

phcaseno                                     object
Sex                                          object
Age                                           int64
Nationality                                  object
Residence in the Philippines                 object
History of Travel / Exposure                 object
Travel History 1                             object
Travel History 2                             object
Travel History 3                             object
Travel History 4                             object
Epi_Link                                     object
Date of Onset of Symptoms                    object
Date of Admission                            object
Date of Lab Confirmation                     object
Date of Announcement to the Public           object
Admission / Consultation                     object
Symptoms                                     object
Symptoms 1                                   object
Symptoms 2                                   object
Symptoms 3                                   object
Other disease                                object
Other disease 1                              object
Other disease 2                              object
Other disease 3                              object
Other disease 4                              object
Other disease 5                              object
Status                                       object
Health Status                                object
Date of Final Status (recovered/expired)     object
Final Diagnosis                              object
Age Group                                    object
Location                                     object
case_location                                object
Location 2                                   object
Latitude                                    float64
Longitude                                   float64
Residence Lat                               float64
Residence Long                               object
Column                                      float64
Column2                                     float64
Column3                                     float64
Column4                                     float64
Column5                                     float64
Column6                                     float64
Column7                                     float64
Column8                                     float64
dtype: object

In [31]:
data.shape

(3246, 46)

### Department of Health Data (Key = CaseCode)

In [32]:
doh = pd.read_csv('opnrefine_DOH_data.csv')
doh.head()

,CaseCode,Age,AgeGroup,Sex,DateRepConf,DateRecover,DateDied,RemovalType,DateRepRem,Admitted,...,Residence Lat,Residence Long,Column,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,C100119,30,30 to 34,Male,Sun Apr 12 00:00:00 EDT 2020,NaN,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C100264,57,55 to 59,Male,Sun Mar 29 00:00:00 EDT 2020,NaN,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C100660,42,40 to 44,Female,Thu Apr 02 00:00:00 EDT 2020,NaN,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C100776,42,40 to 44,Male,Wed Apr 01 00:00:00 EDT 2020,NaN,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C101015,79,75 to 79,Male,Fri Apr 03 00:00:00 EDT 2020,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
doh.columns

Index(['CaseCode', 'Age', 'AgeGroup', 'Sex', 'DateRepConf', 'DateRecover',
       'DateDied', 'RemovalType', 'DateRepRem', 'Admitted', 'RegionRes',
       'ProvCityRes', 'Location', 'case_location', 'Location 2', 'Latitude',
       'Longitude', 'Case No.', 'Nationality', 'Residence in the Philippines',
       'History of Travel / Exposure', 'Travel History', 'Epi_Link',
       'Date of Onset of Symptoms', 'Date of Admission',
       'Date of Lab Confirmation', 'Date of Announcement to the Public',
       'Admission / Consultation', 'Symptoms', 'Other disease', 'Status',
       'Health Status', 'Date of Final Status (recovered/expired)',
       'Final Diagnosis', 'Age Group', 'Residence Lat', 'Residence Long',
       'Column', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6',
       'Column7', 'Column8'],
      dtype='object')

In [61]:
doh = doh.rename(columns={'Location 1': 'case_location'})

In [62]:
doh.shape

(8469, 45)

## Diagnosis Descriptions and Variables

In [25]:
data.groupby('Health Status').size()

Health Status
Asymptomatic        38
Critical             3
Died               108
For validation    2983
Mild                57
Recovered           51
Severe               6
dtype: int64

In [39]:
doh.groupby('Health Status').size()

Health Status
Asymptomatic        38
Critical             3
Died               108
For validation    2983
Mild                57
Recovered           51
Severe               6
dtype: int64

## Feature Engineering: Location

In [67]:
location_df = doh[['case_location', 'RegionRes',
 'ProvCityRes',
 'Location',
 'Location 2',
 'Latitude',
 'Longitude']]

In [68]:
location_df

,case_location,RegionRes,ProvCityRes,Location,Location 2,Latitude,Longitude
0,Parañaque City,Metro Manila,City of Parañaque,"Parañaque City, Metro Manila",Metro Manila,14.479310,121.019200
1,Mandaluyong City,Metro Manila,City of Mandaluyong,Mandaluyong City,NaN,14.579530,121.035000
2,Pasig City,Metro Manila,City of Pasig,"Pasig City, Metro Manila",Metro Manila,14.576160,121.084600
3,Pila,Laguna,Pila,"Pila, Laguna",Laguna,14.234500,121.365000
4,Unisan,Quezon,Unisan,"Unisan, Quezon",Quezon,13.860430,122.014200
...,...,...,...,...,...,...,...
8464,For validation,NaN,NaN,For validation,NaN,14.615867,120.980991
8465,For validation,NaN,NaN,For validation,NaN,14.615867,120.980991
8466,For validation,NaN,NaN,For validation,NaN,14.615867,120.980991
8467,For validation,NaN,NaN,For validation,NaN,14.615867,120.980991
8468,For validation,NaN,NaN,For validation,NaN,14.615867,120.980991

In [69]:
master = pd.merge(data, location_df, how='left', on= 'case_location')

In [70]:
master.head()

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Column5,Column6,Column7,Column8,RegionRes,ProvCityRes,Location_y,Location 2_y,Latitude_y,Longitude_y
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
1,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
2,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
3,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
4,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982

In [71]:
master_cols = master.columns.tolist()
master_cols

['phcaseno',
 'Sex',
 'Age',
 'Nationality',
 'Residence in the Philippines',
 'History of Travel / Exposure',
 'Travel History 1',
 'Travel History 2',
 'Travel History 3',
 'Travel History 4',
 'Epi_Link',
 'Date of Onset of Symptoms',
 'Date of Admission',
 'Date of Lab Confirmation',
 'Date of Announcement to the Public',
 'Admission / Consultation',
 'Symptoms',
 'Symptoms 1',
 'Symptoms 2',
 'Symptoms 3',
 'Other disease',
 'Other disease 1',
 'Other disease 2',
 'Other disease 3',
 'Other disease 4',
 'Other disease 5',
 'Status',
 'Health Status',
 'Date of Final Status (recovered/expired)',
 'Final Diagnosis',
 'Age Group',
 'Location_x',
 'case_location',
 'Location 2_x',
 'Latitude_x',
 'Longitude_x',
 'Residence Lat',
 'Residence Long',
 'Column',
 'Column2',
 'Column3',
 'Column4',
 'Column5',
 'Column6',
 'Column7',
 'Column8',
 'RegionRes',
 'ProvCityRes',
 'Location_y',
 'Location 2_y',
 'Latitude_y',
 'Longitude_y']

In [72]:
col_drop_list = ['Column',
 'Column2',
 'Column3',
 'Column4',
 'Column5',
 'Column6',
 'Column7',
 'Column8',]

In [73]:
master = master.drop(col_drop_list, axis = 1) 
master.head()

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Latitude_x,Longitude_x,Residence Lat,Residence Long,RegionRes,ProvCityRes,Location_y,Location 2_y,Latitude_y,Longitude_y
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.61348,120.98095,14.598727,120.9819909,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
1,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.61348,120.98095,14.598727,120.9819909,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
2,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.61348,120.98095,14.598727,120.9819909,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
3,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.61348,120.98095,14.598727,120.9819909,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982
4,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.61348,120.98095,14.598727,120.9819909,Metro Manila,City of Manila,"Manila City, Metro Manila",Metro Manila,14.59873,120.982

In [75]:
master['case_location']

0             Manila City
1             Manila City
2             Manila City
3             Manila City
4             Manila City
                ...
2112834    For validation
2112835    For validation
2112836    For validation
2112837    For validation
2112838    For validation
Name: case_location, Length: 2112839, dtype: object

In [80]:
master.shape

(2112839, 44)

In [79]:
data.shape

(3246, 46)

In [83]:
master = data.merge(location_df, on='case_location', how='inner', indicator=True)

In [84]:
master.shape

(2112833, 53)

In [ ]:
# not working, so we'll try geo encoding instead

In [85]:
data.head()

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Residence Lat,Residence Long,Column,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,14.598727,120.9819909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,14.517274,121.0496133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,14.586506,121.1138255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
data_clean = data.drop(col_drop_list, axis = 1) 
data_clean.head()

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Date of Final Status (recovered/expired),Final Diagnosis,Age Group,Location,case_location,Location 2,Latitude,Longitude,Residence Lat,Residence Long
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,Sun Mar 15 00:00:00 EDT 2020,NaN,31 - 40,Manila City,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,Sat Feb 01 00:00:00 EST 2020,Severe Pneumonia,41 - 50,Manila City,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,Sun Mar 15 00:00:00 EDT 2020,NaN,51 - 60,Manila City,Manila City,NaN,14.615867,120.980991,14.598727,120.9819909
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,Thu Mar 19 00:00:00 EDT 2020,"Asymptomatic, Negative Test Result",41 - 50,Taguig City,Taguig City,NaN,14.606904,121.020392,14.517274,121.0496133
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,Thu Mar 12 00:00:00 EDT 2020,"Acute Respiratory Distress Syndrome, Severe pn...",61 - 70,"Cainta, Rizal",Cainta,Rizal,14.409635,121.037425,14.586506,121.1138255

In [162]:
# # ! pip install geopy
# # conda install -c conda-forge geopy 
# # ! pip install --user ipykernel
# # ! python -m ipykernel install --user --name=venv

# # Install a conda package in the current Jupyter kernel
# # import sys
# # !conda install --yes --prefix {sys.prefix} reverse_geocoder

# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install reverse_geocoder

In [163]:
# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install geopy

In [113]:
import geopy

from geopy.geocoders import Nominatim

In [115]:
geolocator = Nominatim(user_agent="covid_19")

In [119]:
location = geolocator.reverse("14.59872, 120.9819909")

In [213]:
location

Location(SM Quiapo, Carlos Palanca Sr., Quiapo, Manila, Quiapo, Third District, Metro Manila, 1001, Philippines, (14.59869615, 120.98191084667977, 0.0))

In [ ]:
for elem in

In [164]:
# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install plotly_express

In [131]:
import plotly_express as px

In [134]:
# px.scatter_mapbox(data_clean, lat='Latitude', lon='Longitude', zoom=1000)

In [166]:
# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install geopandas

In [148]:
# %load_ext au totime
import pandas as pd

import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

In [190]:
data_clean['geom'] = data_clean['Latitude'].map(str) + ',' + data_clean['Longitude'].map(str)
# data_clean['geom'] = (str(data_clean['Latitude']) + ',' + str(data_clean['Longitude']))

In [191]:
data_clean.head()

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,Final Diagnosis,Age Group,Location,case_location,Location 2,Latitude,Longitude,Residence Lat,Residence Long,geom
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,NaN,31 - 40,Manila City,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095"
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,Severe Pneumonia,41 - 50,Manila City,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095"
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,NaN,51 - 60,Manila City,Manila City,NaN,14.615867,120.980991,14.598727,120.9819909,"14.615867000000001,120.98099099999999"
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,"Asymptomatic, Negative Test Result",41 - 50,Taguig City,Taguig City,NaN,14.606904,121.020392,14.517274,121.0496133,"14.6069038,121.02039180000001"
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,"Acute Respiratory Distress Syndrome, Severe pn...",61 - 70,"Cainta, Rizal",Cainta,Rizal,14.409635,121.037425,14.586506,121.1138255,"14.409634699999998,121.03742450000001"

In [196]:
# create a service provider locator this time pass timeout to be 10 minutes 
locator = Nominatim(user_agent='add_geom', timeout=30)
# rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)
rgeocode = RateLimiter(geolocator.reverse, min_delay_seconds=0.001)

In [197]:
rgeocode

In [192]:
# data_clean.geom[0]

In [209]:
# data_clean['patient_city'] = data_clean['geom'].apply(lambda a: a.city)

# create concatenated lat+lng column then reverse geocode each value
data_clean['geom'] = data_clean.apply(lambda row: '{},{}'.format(row['Latitude'], row['Longitude']), axis=1)

In [200]:
# tqdm.pandas()

# data_clean['patient_address'] = data_clean['geom'].progress_apply(rgeocode)

data_clean['geocode_data'] = ''
data_clean['city'] = ''
data_clean['country'] = ''

In [214]:
data_clean

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,case_location,Location 2,Latitude,Longitude,Residence Lat,Residence Long,geom,geocode_data,city,country
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095",{},,
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095",{},,
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,Manila City,NaN,14.615867,120.980991,14.598727,120.9819909,"14.615867000000001,120.98099099999999",{},,
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,Taguig City,NaN,14.606904,121.020392,14.517274,121.0496133,"14.6069038,121.02039180000001",{},,
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,Cainta,Rizal,14.409635,121.037425,14.586506,121.1138255,"14.409634699999998,121.03742450000001",{},,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,PH03242,F,65,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3242,PH03243,F,24,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3243,PH03244,M,48,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3244,PH03245,M,67,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3245,PH03246,F,15,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,

In [204]:
import requests
def reverse_geocode(latlng):
    result = {}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng={}'
    request = url.format(latlng)
    data = requests.get(request).json()
    if len(data['results']) > 0:
        result = data['results'][0]
    return result

In [215]:
# data_clean['geocode_data'] = data_clean['geom'].map(reverse_geocode)
data_clean['geocode_data'] = geolocator.reverse(data_clean['geom'])

ValueError: Must be a coordinate pair or Point

In [212]:
data_clean

,phcaseno,Sex,Age,Nationality,Residence in the Philippines,History of Travel / Exposure,Travel History 1,Travel History 2,Travel History 3,Travel History 4,...,case_location,Location 2,Latitude,Longitude,Residence Lat,Residence Long,geom,geocode_data,city,country
0,PH00001,F,38,Chinese,None,Yes (China); Wife of PH02,China,NaN,NaN,NaN,...,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095",{},,
1,PH00002,M,44,Chinese,None,Yes (China); Husband of PH1,China,NaN,NaN,NaN,...,Manila City,NaN,14.613480,120.980950,14.598727,120.9819909,"14.61348,120.98095",{},,
2,PH00003,F,60,Chinese,None,Yes (China),China,NaN,NaN,NaN,...,Manila City,NaN,14.615867,120.980991,14.598727,120.9819909,"14.615867000000001,120.98099099999999",{},,
3,PH00004,M,48,Filipino,Taguig City,Yes (Japan),Japan,NaN,NaN,NaN,...,Taguig City,NaN,14.606904,121.020392,14.517274,121.0496133,"14.6069038,121.02039180000001",{},,
4,PH00005,M,62,Filipino,"Cainta, Rizal",Husband of PH06,None,NaN,NaN,NaN,...,Cainta,Rizal,14.409635,121.037425,14.586506,121.1138255,"14.409634699999998,121.03742450000001",{},,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,PH03242,F,65,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3242,PH03243,F,24,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3243,PH03244,M,48,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3244,PH03245,M,67,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,
3245,PH03246,F,15,Filipino,For validation,0,For validation,NaN,NaN,NaN,...,For validation,NaN,14.615867,120.980991,14.615867,120.980991,"14.615867000000001,120.98099099999999",{},,

In [ ]:
df[['V','allele']] = df['V'].str.split('-',expand=True)

Important Links: 
- https://colab.research.google.com/github/shakasom/geocoding/blob/master/ReverseGeocoding.ipynb 
- https://stackoverflow.com/questions/37333299/splitting-a-column-by-delimiter-pandas-python
- https://chrisalbon.com/python/data_wrangling/geocoding_and_reverse_geocoding/
- https://stackoverflow.com/questions/34962104/pandas-how-can-i-use-the-apply-function-for-a-single-column
- https://geopy.readthedocs.io/en/1.10.0/
- https://geoffboeing.com/2014/08/reverse-geocode-a-set-of-lat-long-coordinates-to-city-country/
- https://github.com/gboeing/2014-summer-travels/blob/master/reverse-geocode-latlong.ipynb
- https://towardsdatascience.com/reverse-geocoding-in-python-a915acf29eb6
- https://geopy.readthedocs.io/en/stable/#installation
- https://geopandas.org/geocoding.html
- https://towardsdatascience.com/geocode-with-python-161ec1e62b89

- https://drive.google.com/drive/u/2/folders/10VkiUA8x7TS2jkibhSZK1gmWxFM-EoZP 
- https://docs.google.com/spreadsheets/d/16g_PUxKYMC0XjeEKF6FPUBq2-pFgmTkHoj5lbVrGLhE/edit?fbclid=IwAR2YAvYMTGDR0r_m2tQRV20pjniUufhL10w57q02v1DN0uxWr_HuTRrZwD8#gid=0
- https://docs.google.com/spreadsheets/d/1QxIMnM-Vn7ea3hNPJYatrP9Dd2kicVkBRBFZZW_mHq8/edit#gid=1748029833
- https://drive.google.com/drive/u/2/folders/1zf3p0ORcRn2ngabcy2aFOnOvCt8DiOkR